<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">  
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/extensions/filter-control/bootstrap-table-filter-control.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Mental Health in America</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="../static/images/favicon-32x32.png" sizes="32x32" />

    <style>
        p  {color: white;}
        p  {text-align: center;}
        h1 {color: rgb(252, 248, 248);}
        h1 {text-align:center;}
        h1 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        h2 {color: rgb(252, 248, 248);}
        h2 {text-align:center;}
        h2 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        h3 {color: rgb(252, 248, 248);}
        h3 {text-align:center;}
        h3 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        table {color:white;}
        a {color:white;}
        li {color:darkblue;}
      </style>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body class="bg-info">
    
    <div class='nav-brand' id="topText"> 
        <!-- <a href='home.php'> 
          <img src='../static/images/bg.png' width='150' height='60px'> 
        </a> -->
        <h1 id="topHeader">Mental Health In America</h1>
    </div> 
    
    
    <div class="wrapper", id = "navbarWrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Navigate
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/">Home</a></li>
                      <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/tables">Charts</a></li>
                      <li>
                        <a class="dropdown-item" href="#">
                          Maps &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-ami">All Mental Illnesses</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-ami">Suicidal Ideation</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-access"> Access to Care </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-unmet-needs">Unmet Needs</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com//map-untreated-disability">Untreated Disability</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/machine-learning">Machine Learning</a></li>
                    </ul>
                  </div>
                </li>
                </li>
              </ul>
            </div>
        </nav>
    </div>
    
    <div class="jumbotron" style="background-image: url(https://cdn1.onlinecounselingprograms.com/content/d58803d7d7b84778a00900d55edb0f26/9646_OCP_Managing-Your-Mental-Health-in-College-hero.jpg); background-size: 100%;">

    </div>

    <div class="container-fluid">
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Purpose <small>Help Authority to make better decision etc</small></h3>
        </div>
        <div class="col-md-8 center" id="purposeBody">
            <p>Are we alone in the universe? For millennia, humans have turned to the sky to answer this question. Now, thanks to research generously funded by W. Avy, a UFO-enthusiast and amateur ufologist, we can supplement our sky-searching with data analysis.

                "The release of this analysis is well-timed: It coincides with the celebration of World UFO Day, which is a moment for ufologists around the world to connect, relax, and sample a range of UFO-themed snacks," said Dr. Ursula F. Olivier, the world's preeminent expert on circular sightings. "Citizen-scientists can be especially helpful in both cataloguing sightings—which is hugely helpful for us in our search for aliens—and in helping us celebrate the work that has already been done, such as this data visualization project, which will help us raise awareness of the ubiquity of sightings!"
                
                Not everyone is ready to celebrate, however. Local CEO and vocal anti-alien activist V. Isualize reached out to our reporters to go on record as firmly opposed to any attempts to provide access to this data. "If there are aliens, they certainly would like to be left alone," she stated, before directing us to the Leave Aliens Alone (LAA) community engagement initiative she founded and funds.
                
                So what do YOU think? Are we alone in the universe? Are aliens trying to contact us, or do they want to be left alone? Dig through the data yourself, and let us know what you see. BLA BLA BLA
            </p>
        </div>

    </div>
<!-- end of the intro parah -->
<div class="container-fluid">

      <div class="col-md-12 center" id="purposeHead">
        <h3>Master Table <small><br>Use this table to filter our dataset!</small></h3>

      <div class="container">
        <table id="table"
            triggerSearch="true"
            data-toggle="table"
            data-filter-control="true"
            data-show-search-clear-button="true"
            data-sortable="true"
            classes="table-sm"
            data-pagination="true"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            class="table-responsive">
            <thead>
                <tr>
                    <!--special characters and spaces not allowed in data-field name-->
                    <th data-field="state" data-filter-control="input" data-sortable="true">State</th>
                    <th data-field="year" data-filter-control="select" data-sortable="true">Year</th>
                    <th data-field="rank_adult_ami" data-filter-control="input" data-sortable="true">Rank Adult All Mental Illnesses</th>
                    <th data-field="percent_adult_ami" data-filter-control="input" data-sortable="true">Percent Adult All Mental Illnesses</th>
                    <th data-field="pop_adult_ami" data-filter-control="input" data-sortable="true">Population Adult All Mental Illnesses</th>
                    <th data-field="rank_adult_access" data-filter-control="input" data-sortable="true">Rank Adult Access</th>
                    <th data-field="percent_adult_access" data-filter-control="input" data-sortable="true">Percent Adult Access</th>
                    <th data-field="pop_adult_access" data-filter-control="input" data-sortable="true">Population Adult Access</th>
                    <th data-field="rank_adult_suicide" data-filter-control="input" data-sortable="true">Rank Adult Suicide</th>
                    <th data-field="percent_adult_suicide" data-filter-control="input" data-sortable="true">Percent Adult Suicide</th>
                    <th data-field="pop_adult_suicide" data-filter-control="input" data-sortable="true">Population Adult Suicide</th>
                    <th data-field="rank_adult_uninsured" data-filter-control="input" data-sortable="true">Rank Adult Uninsured</th>
                    <th data-field="percent_adult_uninsured" data-filter-control="input" data-sortable="true">Percent Adult Uninsured</th>
                    <th data-field="pop_adult_uninsured" data-filter-control="input" data-sortable="true">Population Adult Uninsured</th>
                    <th data-field="rank_adult_adult_unmet_need" data-filter-control="input" data-sortable="true">Rank Adult With Unmet Needs</th>
                    <th data-field="percent_adult_adult_unmet_need" data-filter-control="input" data-sortable="true">Percent Adult With Unmet Needs</th>
                    <th data-field="pop_adult_adult_unmet_need" data-filter-control="input" data-sortable="true">Population Adult With Unmet Needs</th>

                </tr>
            </thead>
            <tbody>
                {% for row in tableA %}
                <tr>
                    <!--special characters and spaces not allowed in data-field name-->
                    <td>{{ row.state }}</td>
                    <td>{{ row.year }}</td>
                    <td>{{ row.rank_adult_ami }}</td>
                    <td>{{ row.percent_adult_ami}}</td>
                    <td>{{ row.pop_adult_ami}}</td>
                    <td>{{ row.rank_adult_access }}</td>
                    <td>{{ row.percent_adult_access}}</td>
                    <td>{{ row.pop_adult_access}}</td>
                    <td>{{ row.rank_adult_suicide }}</td>
                    <td>{{ row.percent_adult_suicide }}</td>
                    <td>{{ row.pop_adult_suicide }}</td>
                    <td>{{ row.rank_adult_uninsured }}</td>
                    <td>{{ row.percent_adult_uninsured }}</td>
                    <td>{{ row.pop_adult_uninsured }}</td>
                    <td>{{ row.rank_adult_unmet_need}}</td>
                    <td>{{ row.percent_adult_unmet_need }}</td>
                    <td>{{ row.pop_adult_unmet_need }}</td>
                      
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      
      
      </div>
<br><br>

</div>
<!-- this is the end of the page -->
<div class="container">    
    <header> 
        <div class="header">
            <h2>Results</h2>
                <p> During our analysis we found..e alone in the universe? For millennia, humans have turned to the sky to answer this question. Now, thanks to research generously funded by W. Avy, a UFO-enthusiast and amateur ufologist, we can supplement our sky-searching with data analysis.

                    "The release of this analysis is well-timed: It coincides with the celebration of World UFO Day, which is a moment for ufologists around the world to connect, relax, and sample a range of UFO-themed snacks," said Dr. Ursula F. Olivier, the world's preeminent expert on circular sightings. "Citizen-scientists can be especially helpful in both cataloguing sightings—which is hugely helpful for us in our search for aliens—and in helping us celebrate the work that has already been done, such as this data visualization project, which will help us raise awareness of the ubiquity of sightings!"
                    
                    Not everyone is ready to celebrate, however. Local CEO and vocal anti-alien activist V. Isualize reached out to our reporters to go on record as firmly opposed to any attempts to provide access to this data. "If there are aliens, they certainly would like to be left alone," she stated, before directing us to the Leave Aliens Alone (LAA) community engagement initiative she founded and funds.
                    .</p>
        </div>
    </header>     
</div>          







<!-- Add scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script src="static/js/app.js"></script> -->
</body>
</html>