<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">  
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/extensions/filter-control/bootstrap-table-filter-control.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Machine Learning: Mental Health in America</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="../static/images/favicon-32x32.png" sizes="32x32" />

    <style>
        p  {color: white;}
        p  {text-align: center;}
        h1 {color: rgb(252, 248, 248);}
        h1 {text-align:center;}
        h1 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        h2 {color: rgb(252, 248, 248);}
        h2 {text-align:center;}
        h2 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        h3 {color: rgb(252, 248, 248);}
        h3 {text-align:center;}
        h3 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        table {color:white;}
        a {color:white;}
        li {color:darkblue;}
      </style>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body class="bg-info">
    <!-- Header -->
    <div class='nav-brand' id="topText"> 
        <h1 id="topHeader">Machine Learning</h1>
    </div> 
    
  <!-- Drop Down nav   -->
    <div class="wrapper", id = "navbarWrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Navigate
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/">Home</a></li>
                      <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/tables">Charts</a></li>
                      <li>
                        <a class="dropdown-item" href="#">
                          Maps &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-ami">All Mental Illnesses</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-suicidal-ideation">Suicidal Ideation</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-access"> Access to Care </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-unmet-needs">Unmet Needs</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="https://piechart-project.herokuapp.com//map-untreated-disability">Untreated Disability</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/machine-learning">Machine Learning</a></li>
                    </ul>
                  </div>
                </li>
                </li>
              </ul>
            </div>
        </nav>
    </div>
    <!-- Header Image -->
    <div class="jumbotron" style="background-image: 
      url(https://cdn1.onlinecounselingprograms.com/content/d58803d7d7b84778a00900d55edb0f26/9646_OCP_Managing-Your-Mental-Health-in-College-hero.jpg);
      background-size: 100%;">
    </div>
   
  <!-- Models -->
  <div class="m-4">
    <div class="btn-group">
        <a href="#" class="dropdown-toggle btn-success" data-bs-toggle="dropdown">Choose A Model</a>
        <div class="dropdown-menu">
            
            <a href="#" class="dropdown-item">
              <input type=button class ="btn-success" name=type value='Preliminary' onclick="setVisibility('sub1', 'inline'); 
              setVisibility('sub2', 'none' );
              setVisibility('sub3', 'none' );
              setVisibility('sub4', 'none' );
              setVisibility('sub5', 'none' );
              setVisibility('sub6', 'none' );
              setVisibility('sub7', 'none' );";>
            </a>   
            <a href="#" class="dropdown-item">
              <input type=button class ="btn-success" name=type value='Normalization' onclick="setVisibility('sub2', 'inline'); 
              setVisibility('sub1', 'none' );
              setVisibility('sub3', 'none' );
              setVisibility('sub4', 'none' );
              setVisibility('sub5', 'none' );
              setVisibility('sub6', 'none' );
              setVisibility('sub7', 'none' );";>
            </a>               

            <a href="#" class="dropdown-item">
              <input type=button class ="btn-success" name=type value='Model1' onclick="setVisibility('sub3', 'inline'); 
              setVisibility('sub2', 'none' );
              setVisibility('sub1', 'none' );
              setVisibility('sub4', 'none' );
              setVisibility('sub5', 'none' );
              setVisibility('sub6', 'none' );
              setVisibility('sub7', 'none' );";>
            </a>

            <a href="#" class="dropdown-item">
              <input type=button class ="btn-success" name=type value='Model2' onclick="setVisibility('sub4', 'inline'); 
              setVisibility('sub1', 'none' );
              setVisibility('sub2', 'none' );
              setVisibility('sub3', 'none' );
              setVisibility('sub5', 'none' );
              setVisibility('sub6', 'none' );
              setVisibility('sub7', 'none' );";>
            </a>
            <a href="#" class="dropdown-item">
              <input type=button class ="btn-success" name=type value='Model3' onclick="setVisibility('sub5', 'inline'); 
              setVisibility('sub1', 'none' );
              setVisibility('sub3', 'none' );
              setVisibility('sub4', 'none' );
              setVisibility('sub2', 'none' );
              setVisibility('sub6', 'none' );
              setVisibility('sub7', 'none' );";>
            </a>

            <a href="#" class="dropdown-item">
              <input type=button class ="btn-success" name=type value='Model4' onclick="setVisibility('sub6', 'inline'); 
              setVisibility('sub1', 'none' );
              setVisibility('sub2', 'none' );
              setVisibility('sub3', 'none' );
              setVisibility('sub4', 'none' );
              setVisibility('sub5', 'none' );
              setVisibility('sub7', 'none' );";>
            </a>
            
            <a href="#" class="dropdown-item">
              <input type=button class ="btn-success" name=type value='Model5' onclick="setVisibility('sub6', 'inline'); 
              setVisibility('sub1', 'none' );
              setVisibility('sub2', 'none' );
              setVisibility('sub3', 'none' );
              setVisibility('sub4', 'none' );
              setVisibility('sub5', 'none' );
              setVisibility('sub7', 'none' );";>
            </a>             
            

        </div>
    </div>
</div>

<section class="fragment fragment-three"> 
<br><br>
    <!-- Preliminary Model -->
    <div id="sub1">
      <div id="prelimDiv" class="container-fluid">
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Preliminary Test</h3>
        </div>
        <div class="col-md-8 center"  id="purposeBody">
          <ul style="font-size: large;">

            <li style="color:white;">Before we getting into the complexity of machine learning, we want to quickly test out there is a strong correlationship between these data. So we used python pandas seaborn and numpy functions
              to run a quick stats check.
            </li>

            <li style="color:white;">
              Researchers found that between any_mental_health_pop and unemploment population, there is<b> 0.87 correlation coefficient. </b> &nbsp;
              Given the strong evidence of the data, we move on with our linear regression model.
            </li>
          </ul>
        </div>
        <div id="imageHolders">
          <!-- TODO: add img unemployment_correlation -->
          <img id="containedImage" src='../static/model_image/unemployment_correlation.png'>
        </div>
    </div>
    </div>

    <!-- Normalization -->
    <div id="sub2" style="display:none">
        <div id="normalizeDIV" class="container-fluid">
          <header>
          </header>
          <div class="col-md-4" id="purposeHead">
              <h3>Machine Learning: Normalization</h3>
          </div>
          <div class="col-md-8 center"  id="purposeBody">
            <ul style="font-size: large;">
  
              <li style="color:white;">After the merge, when combining the data, researchers got rid of the null values caused by missing informaion..
              </li>
  
              <li style="color:white;">
                First we want to make sure our data has a normal distribution
                using a matplotlit histogram, researchers found their data heavly skewed as the following:
                <!-- unnormalized data -->
              </li>
              <div id="imageHolders">
                <img id="containedImage" src='../static/model_image/before_normalization.png'>
              </div>
              <li style="color:white;">
                So our first step is to normalize the data by using numpy log10() function as the follwoing:
                <!-- normalized data -->
              </li>
            </ul>
          </div>
          <div id="imageHolders">
            <img id="containedImage" src='../static/model_image/after_normalization.png'>
          </div>
      </div>
    </div>
    <!-- Model 1 -->
    <div id="sub3" style="display:none">
      <div id="modelOneDIV" class="container-fluid">
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Machine Learning: Model Test #1</h3>
        </div>
        <div class="col-md-8 center"  id="purposeBody">
          <ul style="font-size: large;">
            <ul style="color:white;">
              <h5>Researchers used a single year's worth of data for mental_health_cases and 2020 unemlpoyment data</h5>


            <li style="color:white;">
              Mean squared error (MSE): 0.07728
            </li>

            <li style="color:white;">
              R-squared (R2 ): 0.746550

            </li>
            
            <li style="color:white;">
              Model Score: 0.728
            </li>
          </ul>
          </ul>
        </div>
        <!-- model1 image -->
        <div id="imageHolders">
          <img id="containedImage" src='../static/model_image/Model_Test1.png'>
        </div>
    </div>
    </div>
    <!-- Model 2 -->
    <div id="sub4" style="display:none">
      <div id="modelTwoDIV" class="container-fluid">
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Machine Learning: Model Test #2 <br><small>More data being added showed increased efficiency in testing </small> </h3>
        </div>
        <div class="col-md-8 center"  id="purposeBody">
          <ul style="font-size: large;">
            <ul style="color:white;">
              <h5>Researchers used a single year's worth of data for mental_health_cases and 2020 unemlpoyment data</h5>


            <li style="color:white;">
              Mean squared error (MSE): 0.06796 (Improved 12% from model 1)
            </li>

            <li style="color:white;">
              R-squared (R2 ): 0.7530

            </li>
            
            <li style="color:white;">
              Model score: 0.769 (Improved 6% from model 1)
            </li>
          </ul>
          </ul>
        </div>
        <!-- Model 2 Img -->
        <div id="imageHolders">
          <img id="containedImage" src='../static/model_image/model_test2.png'>
        </div>
    </div>
    </div>

    <!-- Model 3 -->
    <div id="sub5" style="display:none">
      <div id="modelThreeDIV" class="container-fluid">
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Machine Learning: Model Test #3 <br><small>In order to continue finding the best model, researchers introduced an ols model from statsmodels.formula.api </small> </h3>
        </div>
        <div class="col-md-8 center"  id="purposeBody">
          <ul style="font-size: large;">
            <ul style="color:white;">
              <h5>Preprocessing through SKLearn was utilized to create more normalized data. </h5>


            <li style="color:white;">
              Kurtosis, a measure of whether the data are heavy-tailed or light-tailed relative to a normal distribution, looks high even after utilizing sklearn preprocessing. 
            </li>

            <li style="color:white;">
              After graphing the data, it appears as though the use of log is required to achieve a normal distribution.

            </li>
            
            <li style="color:white;">
              Model score: 0.769 (Improved 6% from model 1)
            </li>
          </ul>
          </ul>
        </div>
        <!-- ols_regression1 -->
        <div id="imageHolders">
          <img id="containedImage" src='../static/model_image/ols_regression1.png'>
        </div>
    </div>
    </div>
  
    <!-- Model 4 -->
    <div id="sub6" style="display:none">
      <div id="modelFourDIV" class="container-fluid">
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Machine Learning: Model Test #4 <br><small>With log10 normalized data and excluding workforce again </small> </h3>
        </div>
        <div class="col-md-8 center"  id="purposeBody">
          <ul style="font-size: large;">
            <ul style="color:white;">
              <h5> </h5>

            <li style="color:white;">
              This model has Adj. R-squared:	0.753 
            </li>

            <li style="color:white;">
              Low std error of 0.016

            </li>
            
            <li style="color:white;">
              Low Kurtosis: 2.168
            </li>
          </ul>
          </ul>
        </div>
        <!-- ols_regression2 -->
        <div id="imageHolders">
          <img id="containedImage" src='../static/model_image/ols_rgression 3.png'>
        </div>
    </div>
    </div>
    <!-- Model 5 -->
    <div id="sub7" style="display:none">
      <div id="modelfiveDIV" class="container-fluid">
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Machine Learning: Model Test #5 <br><small>Introducing additional attribute of healthcare_workforce population per state </small> </h3>
        </div>
        <div class="col-md-8 center"  id="purposeBody">
          <ul style="font-size: large;">
            <ul style="color:white;">
              <h5> Researchers only had 2020-2021 data, so initial 2019 data needed to be excluded from our previous table and joined with workforce data.
              </h5>


            <li style="color:white;">
              Researchers did similair data processing to remove the null/duplicates data.&nbsp;
              The total number of rows dropped by 200, but still researchers had more than 800 rows data.
            </li>

            <li style="color:white;">
              Researchers used the same Model4 to see  just the normalized ami and unemployment for the 2 years of data. 2020-2021 model yield
              <b>0.84 adj.R-squared</b> as the highest, and <b>std error remianed low at 0.012</b>.

            </li>
            
            <li style="color:white;">
              As COVID impacted unemployment rate significantly along with mental health of US population, it might have a higher correlation compared to 2019.
            </li>
            <li style="color: white;">
              In order to have a more accurate rate on the ami with slightly more data and based on our earlier correlation stats result,
              researchers decided to bring in health_care workforce back into the model.
            </li>
          </ul>
          </ul>
        </div>
        <!-- OLS_regression workforce model-->
        <div id="imageHolders">
          <img id="containedImage" src='../static/model_image/OLS_regression workforce model.png'>
        </div>
      <div class="col-md-4" id="purposeHead">
          <h3><small>This time, our model Adj.R-squared improved to 0.901 while both std error of unemployed and mentalhealth workforce remained low.</small>
          <br><small>And our low kurtosis indicates that our data is normalized. </small> </h3>
      </div>

    </div>
    </div>
</section>

<!-- Data Collections -->
      <div class="container-fluid" style='padding-top: 20px';>
        <header>
        </header>
        <div class="col-md-4" id="purposeHead">
            <h3>Data Collection and Connection<br><small>For identifing underlying relation and mathematic proofs, we put togteher 2 main sources of data. </small></h3>
        </div>
        <div class="col-md-8 center"  id="purposeBody">
          <ul style="font-size: large;">

            <li style="color:white;"> Our data from Mental Health America's State of Mental Health in America yearly report. This is also the main sources behind our analysis and visulizations.
              We pulled together Year-Over-Year mental health population, population of suicide ideation by states.
               </li>

              <li style="color:white;">From US Bureau of Labor to get the monthly unemployment rate by states from 2019 to 2020.</li>
            </ul>
        </div>
    </div>


  <!-- Data Preparation -->
  <section class="fragment fragment-three">
    
  <div class="container-fluid">

  <div class="col-md-8 center" id="purposeBody">

  <div class="col-md-4 center" id="purposeHead" >
      <h3>Data Preparation</h3>
    </div>

    <ul style="font-size: large; padding-top: 20px;">
      <li style="color:white;">All of our initial data was cleaned and stored in AWS RS service. Data was extracted live by connecting to a postgreSQL
                                 server hooked up through pgAdmin and accessed with sqlalchemy. 
      </li>
      &nbsp;


      <li style="color:white;">Researchers were able to merge three potential data sources to work with through pgAdmin.</li>
      &nbsp;

      <li style="color:white;">Because our assumption is that there is a relationship between unemployment data and mental health cases,
        researchers linked two seperate data sources together using the python method of merge.</li>
      &nbsp;

      <li style="color:white;">The tricky part is we need to use population for our analysis in order to be accurte with our stats. However, researchers at this time only had unemployment rates
         but not population data.
      </li>
      &nbsp;

      <li style="color: white;">
        After the data connection, we used one of the table that contained mental health population and percentage by state to create the state population based
        on each year column. Then, we merged the 2 tables of data on "year" and "state" columns.Last step was to create the "pop_unemployment" column for
        unemployment population based on the unemlpoyment rate and state_population by year. 

      </li>

  </div>

  </section>


<script src="../static/js/konami.js"></script>
<script src = "../static/js/logic_machine_learn.js"> </script>

</body>
</html>