<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">  
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/extensions/filter-control/bootstrap-table-filter-control.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Mental Health in America</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="../static/images/favicon-32x32.png" sizes="32x32" />

    <style>
        p  {color: white;}
        p  {text-align: center;}
        h1 {color: rgb(252, 248, 248);}
        h1 {text-align:center;}
        h1 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        h2 {color: rgb(252, 248, 248);}
        h2 {text-align:center;}
        h2 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        h3 {color: rgb(252, 248, 248);}
        h3 {text-align:center;}
        h3 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
        table {color:white;}
        a {color:white;}
        li {color:darkblue;}
      </style>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body class="bg-info">
    
  <div class='nav-brand' id="topText"> 
      <!-- <a href='home.php'> 
        <img src='../static/images/bg.png' width='150' height='60px'> 
      </a> -->
      <h1 id="topHeader">Mental Health In America</h1>
  </div> 
  
  
  <div class="wrapper", id = "navbarWrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Navigate
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/">Home</a></li>
                    <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/tables">Charts</a></li>
                    <li>
                      <a class="dropdown-item" href="#">
                        Maps &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu">
                        <li>
                          <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-ami">All Mental Illnesses</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-suicidal-ideation">Suicidal Ideation</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-access"> Access to Care </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="https://piechart-project.herokuapp.com/map-unmet-needs">Unmet Needs</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="https://piechart-project.herokuapp.com//map-untreated-disability">Untreated Disability</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="https://piechart-project.herokuapp.com/machine-learning">Machine Learning</a></li>
                  </ul>
                </div>
              </li>
              </li>
            </ul>
          </div>
      </nav>
  </div>
  
  <div class="jumbotron" style="background-image: url(https://cdn1.onlinecounselingprograms.com/content/d58803d7d7b84778a00900d55edb0f26/9646_OCP_Managing-Your-Mental-Health-in-College-hero.jpg); background-size: 100%;">

  </div>
  <section class="fragment fragment-three2">
    <br><br>
    <h3>Visualizations</h3>
  
  

    <div class="container carousel-container">
    
      <!-- begin carousel -->
      <!-- you should replace the placeholder images with actual images from your projects -->
      <!-- images should be 800*600 or a matching ratio for best results -->
      <div id="portfolioCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#portfolioCarousel" data-slide-to="0" class="active custom-indicator">
              </li>
              <li data-target="#portfolioCarousel" data-slide-to="1" class="custom-indicator"></li>
              <li data-target="#portfolioCarousel" data-slide-to="2" class="custom-indicator"></li>
              <li data-target="#portfolioCarousel" data-slide-to="3" class="custom-indicator"></li>
              <li data-target="#portfolioCarousel" data-slide-to="4" class="custom-indicator"></li>
              <li data-target="#portfolioCarousel" data-slide-to="5" class="custom-indicator"></li>

          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">

                  <!--image here -->
                  <img src="../static/analysis_imgs/2020_AMI_VS_Unemployment.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Unemployment Versus All Mental Illness</h5>
                  </div>
              </div>
              <div class="carousel-item">

                  <!--image here -->
                  <img src="../static/analysis_imgs/2020Top 10 States with Suicide Ideation.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>2020 10 States with Highest Suicidal Ideation</h5>
                  </div>
              </div>
              <div class="carousel-item">

                  <!--image here -->
                  <img src="../static/analysis_imgs/2021Top 10 States with Suicide Ideation.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>2021 10 States with Highest Suicidal Ideation</h5>
                  </div>
              </div>
              <div class="carousel-item">

                <!--image here -->
                <img src="../static/analysis_imgs/chat1_YoYnational_AMI.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>All Mental Illness Year over Year</h5>
                </div>
            </div>
            <div class="carousel-item">

              <!--image here -->
              <img src="../static/analysis_imgs/top10states_ami YoY.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                  <h5>AMI Year-Over-Year Top Six States </h5>
              </div>
          </div>
          <div class="carousel-item">

            <!--image here -->
            <img src="../static/analysis_imgs/Top10states_unmeetneed YoY.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Unmet Needs Year-Over-Year Top Ten States</h5>
            </div>
        </div>
          </div>

      </div>
  </div>
</section>
  <div class="container-fluid">
      <header>
      </header>
      <div class="col-md-4" id="purposeHead">
          <h3>Purpose<br><small>Help Government Officials Provide Government Assistance Programs for States with Failing Mental Health</small></h3>
      </div>
      <div class="col-md-8 center"  id="purposeBody">
          <p>Mental health in the United States is omnipresent and ostensibly just finding its place in the spotlight, losing the stigma and taboo 
            that was once tied to its existence. The progress became almost insidious and mostly overlooked though as the Corona Virus Infection 
            Disease 2019 (COVID-19) swept the world and, in turn, the United States. COVID-19, a more acute and visible pulmonary disease overwhelmed
            many Americans in terms of risk and resulting consequences. Across the country, Americans were infected with COVID-19, or probably more common
            they were infected with the fear of contracting it. This anxiety was coupled and even combined with quarantine, potential job loss, departed family,
            and lack of genuine social interaction. Perhaps, the ever existing and predisposed pressures of low income, ethnic vulnerabilities,
            and general access to health care played a part in the overlapping unease of COVID-19. By looking at mental health data over the last three years,
            using pre and post-COVID years, Team Yellow seeks to discover just what variables, whether because of COVID-19 or not, truly changed the mental health
            landscape. Then, with other studies, decisionmakers could be triggered to give a harder look at just what resources need to be allocated, or
            reallocated, to help those Americans in need.
          </p>
      </div>

  </div>




<!-- Add scripts -->
  <script src="../static/js/konami.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

  <!-- <script src="static/js/app.js"></script> -->
</body>
</html>














